*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 100%;    
    justify-content: space-between;
    background-color: rgb(18, 18, 41);
    padding: 10px;
    color: white;
}
header h1{
    margin-left: 20px;
}
header form{
    margin-right: 20px;
    max-width: max-content;
    display: flex;
}
header select{
    margin-right: 20px;
    width: 150px;
    height: 30px;
}
#btn{
    cursor: pointer;
    padding: 5px;
}
#btn:hover{
    background-color: rgb(16, 16, 43);
    color: white;
}
